@import "tailwindcss";

:root {
  --background-level-01: #ffffff;
  --background-level-02: var(--color-zinc-50);

  --foreground: #171717;
}

@theme inline {
  --color-bg-01: var(--background-level-01);
  --color-bg-02: var(--background-level-02);

  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-level-01: #0a0a0a;
    --background-level-02: var(--color-zinc-900);

    --foreground: #ededed;
  }
}

body {
  background: var(--color-bg-02);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
