@import "tailwindcss";

:root {
  --background-level-01: #ffffff;
  --background-level-02: #f7f7f7;

  --foreground: #171717;
  --btn-ghost-bg: var(--color-bg-01);
  --btn-ghost-bg-hover: rgba(0, 0, 0, 0.05);
}

@theme inline {
  --color-bg-01: var(--background-level-01);
  --color-bg-02: var(--background-level-02);

  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-btn-ghost-bg: var(--color-bg-01);
  --color-btn-ghost-bg-hover: var(--btn-ghost-bg-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-level-01: #0a0a0a;
    --background-level-02: var(--color-zinc-900);

    --foreground: #ededed;
  }
}

body {
  background: var(--color-bg-02);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1024px) {
  header .move-x {
    transform: translateX(-42px);
    transition: transform 0.25s ease-out;
  }
  header .move-x button {
    opacity: 0;
  }
  header:hover .move-x {
    transform: translateX(0);
  }
  header:hover .move-x button {
    opacity: 1;
  }
}
