@import "tailwindcss";

:root {
  --background-level-01: #ffffff;
  --background-level-02: #f7f7f7;

  --foreground: #171717;
  --btn-ghost-bg: var(--color-bg-01);
  --btn-ghost-bg-hover: rgba(0, 0, 0, 0.05);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-bg-01: var(--background-level-01);
  --color-bg-02: var(--background-level-02);

  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-btn-ghost-bg: var(--color-bg-01);
  --color-btn-ghost-bg-hover: var(--btn-ghost-bg-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-level-01: #0a0a0a;
    --background-level-02: var(--color-zinc-900);

    --foreground: #ededed;
  }
}

body {
  background: var(--color-bg-02);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
